name: batch

# Controls when the workflow will run
on:
  workflow_call:
    secrets:
      account_id:
        required: true
      jfrog_user:
        required: true
      jfrog_password:
        required: true
jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - uses: taylorsmithgg/aws-ecr-action@v1
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        repo: ${{ github.repository }}
        region: us-west-2
        tags: latest,${{ github.sha }}
        create_repo: true
        extra_build_args: "--build-arg --build-arg jfrog_user=${{ secrets.jfrog_user }} --build-arg jfrog_password=${{ secrets.jfrog_password }}"
#         set_repo_policy: true
#         repo_policy_file: repo-policy.json
    - uses: taylorsmithgg/aws-ecr-action@v1
      if: ${{ github.ref != 'refs/heads/main' }}
      with:
        repo: ${{ github.repository }}
        region: us-west-2
        tags: ${{ github.ref_name }},${{ github.sha }}
        create_repo: true
        extra_build_args: "--build-arg --build-arg jfrog_user=${{ secrets.jfrog_user }} --build-arg jfrog_password=${{ secrets.jfrog_password }}"
#         set_repo_policy: true
#         repo_policy_file: repo-policy.json
