name: Deploy Cloudformation w/Maven

on:
  workflow_call:
    secrets:
      jfrog_user:
        required: true
      jfrog_password:
        required: true

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - uses: s4u/maven-settings-action@v2.6.0
        with:
          servers: | 
            [
              {
                "id": "vyrl", 
                "username": "${{ secrets.JFROG_USER }}",
                "password": "${{ secrets.JFROG_PASSWORD }}"
              },
              {
                "id": "vyrl-snapshots", 
                "username": "${{ secrets.JFROG_USER }}",
                "password": "${{ secrets.JFROG_PASSWORD }}"
              }
            ]
      - name: Build with Maven
        run: ./mvnw --batch-mode --update-snapshots package
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Deploy
        run: ./mvnw deploy -Dstage=${{ steps.extract_branch.outputs.branch }}
