name: Create Repo & Publish to ECR

# Controls when the workflow will run
on:
  workflow_call:
    secrets:
      account_id:
        required: true
      jfrog_user:
        required: true
      jfrog_password:
        required: true
      npm_token:
        required: false
      access_token:
        required: false
jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - uses: taylorsmithgg/aws-ecr-action@v1.2
      if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' }}
      with:
        repo: ${{ github.repository }}
        region: us-west-2
        tags: latest,${{ github.sha }}
        account_id: ${{ secrets.account_id }}
        create_repo: true
        extra_build_args: "--build-arg access_token=${{ secrets.access_token }} --build-arg npm_token=${{ secrets.npm_token }} --build-arg jfrog_user=${{ secrets.jfrog_user }} --build-arg jfrog_password=${{ secrets.jfrog_password }}"
#         set_repo_policy: true
#         repo_policy_file: repo-policy.json
    - uses: taylorsmithgg/aws-ecr-action@v1.2
      if: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/master' }}
      with:
        repo: ${{ github.repository }}
        region: us-west-2
        tags: ${{ github.ref_name }},${{ github.sha }}
        account_id: ${{ secrets.account_id }}
        create_repo: true
        extra_build_args: "--build-arg npm_token=${{ secrets.npm_token }} --build-arg jfrog_user=${{ secrets.jfrog_user }} --build-arg jfrog_password=${{ secrets.jfrog_password }}"
#         set_repo_policy: true
#         repo_policy_file: repo-policy.json
