name: Gradle

on:
  workflow_call:
    secrets:
      jfrog_user:
        required: true
      jfrog_password:
        required: true
jobs:
  build:
    runs-on: self-hosted
    env: 
      ORG_GRADLE_PROJECT_JFROG_USER: ${{ secrets.jfrog_user }}
      ORG_GRADLE_PROJECT_JFROG_PASSWORD: ${{ secrets.jfrog_password }}
      ORG_GRADLE_PROJECT_ARTIFACTORY_USER: ${{ secrets.jfrog_user }}
      ORG_GRADLE_PROJECT_ARTIFACTORY_PASSWORD: ${{ secrets.jfrog_password }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build with Gradle
        run: ./gradlew jib
