name: Node.js CI

on:
  workflow_call:
    secrets:
      account_id:
        required: true
      npm_token:
        required: true

jobs:
  build:
    env:
      DOCKER_BUILDKIT: 1

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: 'Create .npmrc'
        shell: bash
        run: |
          echo "Writing .npmrc to: ./.npmrc"
          curl -u github:${{ secrets.NPM_TOKEN }} "https://govyrl.jfrog.io/govyrl/api/npm/auth/" > ./.npmrc
#       - name: Install dependencies
#         run: npm ci --registry https://govyrl.jfrog.io/govyrl/api/npm/vyrl-repo-virtual/
#       - name: Test
#         continue-on-error: true
#         run: npm test --registry https://govyrl.jfrog.io/govyrl/api/npm/vyrl-repo-virtual/
#       - name: Build
#         run: npm run build --if-present --registry https://govyrl.jfrog.io/govyrl/api/npm/vyrl-repo-virtual/
      - uses: taylorsmithgg/aws-ecr-action@v1.2
        name: Docker
        with:
          repo: ${{ github.repository }}
          region: us-west-2
          tags: latest,${{ github.sha }}
          account_id: ${{ secrets.account_id }}
          create_repo: true
          extra_build_args: "--secret id=npm,src=./.npmrc"
